/* elements */
body {
    background:url('https://raw.githubusercontent.com/stopdaydreaming/super-duper-octo-portfolio/main/assets/images/ignasi_pattern_s.png')
}
header {
    padding: 2em;
}

/* classes */
.heading {
    font-size: 3.25rem;
    line-height: 2.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
.crop {
    width: 350px;
    border-radius: 50%;
    padding-top: 2.5em;
}
.fa-icons {
    margin-right: 1em;
}

/* media queries */
@media only screen and (max-width: 455px) {
    .crop {
        width: 100%;
    }
    .heading {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 265px) {
    .crop {
        width: 100%;
    }
    .heading {
        font-size: 2rem;
    }
}