/* *{border: solid 1px red} */

header {
    padding: 2em;
}
.heading {
    font-size: 3.25rem;
    line-height: 2.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
.crop {
    width: 350px;
    border-radius: 50%;
    padding-top: 2.5em;
}
.fa-icons {
    margin-right: 1em;
}